{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <form method="POST" class="post-form" action="/update/{{employee.id}}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Id:<input type="text" class="data" name="id" id="id_id" required maxlength="20" value="{{ employee.id }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Name:<input type="text" class="data" name="name" id="id_name" required maxlength="100" value="{{ employee.name }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Email:<input type="email" class="data" name="email" id="id_email" required maxlength="254"
                        value="{{ employee.email }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Contact:<input type="text" class="data" name="contact" id="id_contact" required maxlength="15"
                        value="{{ employee.contact }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Address:<input type="text" class="data" name="address" id="id_address" required maxlength="100"
                        value="{{ employee.address }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Contact:<input type="text" class="data" name="salary" id="id_salary" required maxlength="15"
                        value="{{ employee.salary }}" />
                </div>
            </div>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <button type="submit" class="btn">Update</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>