{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Id:{{ form.id }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Name:{{ form.name }}
                </div>
            </div>
            <div class="row">

                <div class="col">
                    Employee Email:{{ form.email }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Contact:{{ form.contact }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Address:{{ form.address }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Employee Salary:{{ form.salary }}
                </div>
            </div>
            <div class="row">
                <label class="label"></label>
                <div class="button">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>