{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
    <link rel="stylesheet" href="{% static 'css/style-show.css' %}"/>  
</head>  
<body>  
<table class="table">  
    <thead class="thead">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th>
        <th>Employee Address</th>
        <th>Employee Salary</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for employee in employees %}  
    <tr>  
        <td>{{ employee.id }}</td>  
        <td>{{ employee.name }}</td>  
        <td>{{ employee.email }}</td>  
        <td>{{ employee.contact }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.salary }}</td>  
        <td>  
            <button class="btn-data"><a href="/edit/{{ employee.id }}">Edit</span></a></button>  
            <button class="btn-data"><a href="/delete/{{ employee.id }}">Delete</a></button> 
        </td>  
    </tr>  
    {% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><button class="btn-show"><a href="/emp">Add New Record</a></button></center> 
</body>  
</html>  